# auth
JWT_SECRET="xxx"

# app host
NEXT_PUBLIC_APP_URL="xxx"

# Connect to Supabase via connection pooling
DATABASE_URL="xxx"
# Direct connection to the database. Used for migrations
DIRECT_URL="xxx"

# ai service
ARK_API_KEY="xxx"
ARK_API_BASE_URL="xxx"

# OSS
OSS_AK="xxx"
OSS_SK="xxx"
OSS_REGION="xxx"
OSS_BUCKET="xxx"
OSS_HOST="xxx"

# Redis
REDIS_URL="xxx"

# RabbitMQ
RABBITMQ_URL="xxx"

# vercel cron
CRON_SECRET="xxx"
